<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Speech Synthesis</title>
</head>
<body>
<h1>음성 합성</h1>
<form method="get" action="simple_synth">
    <input type="text" name="input_text" {% if input_text %}value="{{input_text}}"{% endif %} />
    <input type="text" name="sigma" value="{{sigma}}" />
    <input type="text" name="sampling_rate" value="{{sampling_rate}}" />
    <input type="text" name="denoiser_strength" value="{{denoiser_strength}}" />
    <input type="submit" value="음성 합성">

    {% if synth_wav_path %}
    <audio controls>
        <source src="{{url_for('static', filename='synth_wav')}}/{{synth_wav_path}}" type="audio/wav">
        Your browser does not support the audio tag.
    </audio>
    <a href="{{url_for('static', filename='synth_wav')}}/{{synth_wav_path}}" target="_blank">결과 파일 다운로드</a>
    {% endif %}
</form>
</body>
</html>