<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Speech Synthesis</title>
    <script src="/ilseo{{url_for('static', filename='js')}}/jquery-3.4.1.slim.min.js"></script>
    <script>
        function auto_synth(this_obj){
            $("#input_text").val($(this_obj).next().text());
            $("#synth_button").click();
        }
    </script>
</head>
<body>
<h1>음성 합성</h1>
<p>사용법: 아래 '입력 텍스트'란에 임의의 텍스트를 입력 후 '음성 합성'버튼을 클릭하세요.</p>
<form method="get" action="simple_synth">
    <h2>예제</h2>
    <p><input type="button" value="음성합성" onclick="auto_synth(this);" /><span>지난해 삼월 김전장관의 동료인 장동련 홍익대 교수가 민간 자문단장으로 위촉되면서 본격적인 공모와 개발 작업에 들어갔다.</span></p>
    <p><input type="button" value="음성합성" onclick="auto_synth(this);" /><span>그래도 권위있는 아이비리그 명문대학의 발표이니 믿어야 할까요?</span></p>
    <p><input type="button" value="음성합성" onclick="auto_synth(this);" /><span>안녕하시렵니까? 저는 인공지능이예요. 말투가 이런건 동화책 읽는것만 배웠기 때문이예요! 이해해주세요.</span></p>
    <p><input type="button" value="음성합성" onclick="auto_synth(this);" /><span>그는 괜찮은 척하려고 애쓰는 것 같았다.</span></p>
    <p><input type="button" value="음성합성" onclick="auto_synth(this);" /><span>[설빙](슈퍼브랜드데이) 딸기치즈메론(시즌한정).</span></p>
    <p><input type="button" value="음성합성" onclick="auto_synth(this);" /><span>파파스토이 풀페이스 스노쿨링 마스크 일체형 물놀이.</span></p>
    <h2>직접 입력</h2>

    입력 텍스트<input type="text" id="input_text" name="input_text" {% if input_text %}value="{{input_text}}"{% endif %} style="width: 800px;"/>
    <br/>
    <h2>파라미터(기본값으로 사용하셔도 됩니다.)</h2>
    Sigma<input type="text" name="sigma" value="{{sigma}}" />
    <br/>
    Sampling Rate<input type="text" name="sampling_rate" value="{{sampling_rate}}" />
    <br/>
    Denoiser Strength <input type="text" name="denoiser_strength" value="{{denoiser_strength}}" />
    <br/><br/>
    <input type="submit" value="음성 합성" id="synth_button">


</form>
{% if synth_wav_path %}
<h2>결과</h2>
<p>소요시간: {{elapsed}} seconds </p>
<audio controls>
    <source src="/ilseo{{url_for('static', filename='synth_wav')}}/{{synth_wav_path}}" type="audio/wav">
    Your browser does not support the audio tag.
</audio>
<br/>
<a href="download/{{synth_wav_path}}" target="_blank">결과 파일 다운로드</a>
{% endif %}
</body>
</html>