<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Speech Synthesis</title>
</head>
<body>
<h1>음성 합성</h1>
<p>사용법: 아래 '입력 텍스트'란에 임의의 텍스트를 입력 후 '음성 합성'버튼을 클릭하세요.</p>
<form method="get" action="simple_synth">
    <h2>입력</h2>
    입력 텍스트<input type="text" name="input_text" {% if input_text %}value="{{input_text}}"{% endif %} style="width: 800px;"/>
    <br/>

    <h2>파라미터(기본값으로 사용하시면 됩니다.)</h2>
    Sigma<input type="text" name="sigma" value="{{sigma}}" />
    <br/>
    Sampling Rate<input type="text" name="sampling_rate" value="{{sampling_rate}}" />
    <br/>
    Denoiser Strength <input type="text" name="denoiser_strength" value="{{denoiser_strength}}" />
    <br/><br/>
    <input type="submit" value="음성 합성">


</form>
{% if synth_wav_path %}
<h2>결과</h2>
<p>소요시간: {{elapsed}} seconds </p>
<audio controls>
    <source src="/ilseo{{url_for('static', filename='synth_wav')}}/{{synth_wav_path}}" type="audio/wav">
    Your browser does not support the audio tag.
</audio>
<br/>
<a href="download/{{synth_wav_path}}" target="_blank">결과 파일 다운로드</a>
{% endif %}
</body>
</html>